z <div class="contain">
    <div class="nav">
        <div class="logo">
            <h1>Yummy<span>.</span></h1>
        </div>
        <div class="choices">
            <ul>
              <li><a routerLink="/home"><i class="fas fa-house"></i></a></li>
              <li><a routerLink="/menus"><i class="fas fa-utensils"></i></a></li>
              <li><a routerLink="/favourite"><i class="fas fa-bookmark"></i></a></li>
              <li><a routerLink="/planing"><i class="fas fa-table"></i></a></li>
              <li><a routerLink="/market"><i class="fas fa-cart-shopping"></i></a></li>
              <li><a routerLink="/profile"><i class="fas fa-user"></i></a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search..." [(ngModel)]="searchInput" (input)="filterRecipes()">
            <i class="fa-solid fa-filter" (click)="toggleFilterDropdown()">
                <div class="filter-dropdown" [ngClass]="{ 'show': isFilterDropdownOpen }">
                  <ul>
                      <li (click)="selectFilter('Recipe name'); toggleFilterDropdown()">Recipe name</li>
                      <li (click)="selectFilter('Cooking time'); toggleFilterDropdown()">Cooking time</li>
                      <li (click)="selectFilter('Ingredients'); toggleFilterDropdown()">Ingredients</li>
                      <li (click)="selectFilter('Cuisine'); toggleFilterDropdown()">Cuisine</li>
                  </ul>
              </div>
            </i>
            <button id="searchButton" (click)="resetSearch()">Reset</button>
        </div>
        <a routerLink="/login"><button id="searchButton">Logout</button></a>
    </div>
    <div class="screen">
      <div *ngIf="UserInterfaces && UserInterfaces.length > 0">
        <div   class="desc" *ngFor="let followers of UserInterfaces[0].following" >
          <div *ngFor="let recipe of filteredRecipes" >
            <div class="tab" *ngIf="recipe.uid === followers">
              <a routerLink="/post" (click)="goToDetails($event,recipe.id)">
                <img [src]="recipe.photoUrl">
              </a>
              <div class="desc">
                <span>{{recipe.name|titlecase}}</span>
                <i class="fas fa-heart" id="heartIcon" [style.color]="recipe.liked" (click)="toggleHeart(recipe)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab" id="addPostTab">
        <a href="">
          <img src="../../assets/img/add.png">
        </a>
        <div class="desc">
          <span>ADD POST</span>
        </div>
      </div>
    </div>
<div id="modalBackground"></div>
<div id="addPostForm" class="modal">
    <form #f="ngForm" (ngSubmit)="addRecipe(itemName.value, itemNutritionalBenefits.value, itemIngredients.value, itemPreparation.value,type.value,Cuisine.value,cookingTime.value)" id="addItemForm">
        <div class="input-group">
            <input type="text" id="itemName" name="itemName" required placeholder="Name" style="width: 70%;" #itemName ngModel>
            <select id="type" name="type" style="width: 30%;"  name="type" #type required ngModel>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Snacks">Snacks</option>
            </select>
        </div>
        <input type="text" id="cuisine" name="cuisine" #Cuisine required placeholder="Cuisine" style="width: 100%;">
        <input type="text" id="cookingTime" name="cookingTime" #cookingTime required placeholder="Cooking Time :write like this # min" style="width: 100%;">
        <input type="file" (change)="chooseFile($event)">
        <textarea id="itemComponents" name="itemNutritionalBenefits" required placeholder="Nutritional Benefits" #itemNutritionalBenefits ngModel></textarea>
        <textarea id="itemIngredients" name="itemIngredients" required placeholder="Ingredients" #itemIngredients ngModel></textarea>
        <textarea id="itemPreparation" name="itemPreparation" required placeholder="How to Prepare" #itemPreparation ngModel></textarea>
        <button type="submit" [disabled]="f.invalid || (itemName.value === ''  || itemNutritionalBenefits.value === '' || itemIngredients.value === '' || itemPreparation.value === '')">Post</button>
    </form>
</div>



