<div class="contain">
    <div class="nav">
      <div class="logo">
          <h1>Yummy<span>.</span></h1>
      </div>
      <div class="choices">
          <ul>
            <li><a routerLink="/home"><i class="fas fa-house"></i></a></li>
            <li><a routerLink="/menus"><i class="fas fa-utensils"></i></a></li>
            <li><a routerLink="/favourite"><i class="fas fa-bookmark"></i></a></li>
            <li><a routerLink="/planing"><i class="fas fa-table"></i></a></li>
            <li><a routerLink="/market"><i class="fas fa-cart-shopping"></i></a></li>
            <li><a routerLink="/profile"><i class="fas fa-user"></i></a></li>
          </ul>
      </div>
      <a routerLink="/login"><button id="searchButton">Logout</button></a>
    </div>
    <div class="screen">
        <div class="infsection">
            <div class="imgsection">
                <img id="user-photo-num" src="" alt="user Photo">
            </div>
            <div class="statsection">
                <div class="name">
                    <span id="user-name"></span>
                    <button (click)="getRecipeById1()">Edite Profile</button>

                    <button>Archive</button>
                    <i class="fas fa-gear"></i>
                </div>
                <div class="fol">
                    <a routerLink="/profile">
                        <span id="user-posts-num"></span>
                        <p>Post</p>
                    </a>
                    <a routerLink="/followers">
                        <span id="user-followers-num"></span>
                        <p>Followers</p>
                    </a>
                    <a routerLink="/following">
                        <span id="user-following-num"></span>
                        <p>Following</p>
                    </a>
                </div>
                <div class="link">
                    <img src="../../assets/img/media/face.jpg">
                    <img src="../../assets/img/media/insta.jpg">
                    <img src="../../assets/img/media/snap.jpg">
                    <img src="../../assets/img/media/linked.jpg">
                    <img src="../../assets/img/media/Youtube.jpg">
                </div>
            </div>
        </div>
        <hr>
        <div class="postsection">
            <div class="tab" *ngFor="let recipe of recipes">
                <a routerLink="/post" (click)="goToDetails($event,recipe.id)">
                    <img [src]="recipe.photoUrl"  >
                </a>
                <div class="desc">
                    <span>{{recipe.name|titlecase}}</span>
                    <i class="fas fa-heart" id="heartIcon" [style.color]="recipe.liked" (click)="toggleHeart($event, recipe)"></i>
                </div>
            </div>
      
            <div class="tab" id="addPostTab">
                <a href="#">
                    <img src="../../assets/img/add.png">
                </a>
                <div class="desc">
                    <span>ADD POST</span>
                </div>
            </div>
        </div>
      </div>
      <div id="modalBackground"></div>
      <div id="addPostForm" class="modal">
          <form #f="ngForm" (ngSubmit)="addRecipe(itemName.value, itemNutritionalBenefits.value, itemIngredients.value, itemPreparation.value,type.value,Cuisine.value,cookingTime.value)" id="addItemForm">
              <div class="input-group">
                  <input type="text" id="itemName" name="itemName" required placeholder="Name" style="width: 70%;" #itemName ngModel>
                  <select id="type" name="type" style="width: 30%;"  name="type" #type required ngModel>
                      <option value="Breakfast">Breakfast</option>
                      <option value="Lunch">Lunch</option>
                      <option value="Dinner">Dinner</option>
                      <option value="Snacks">Snacks</option>
                  </select>
              </div>
              <input type="text" id="cuisine" name="cuisine" #Cuisine required placeholder="Cuisine" style="width: 100%;">
              <input type="text" id="cookingTime" name="cookingTime" #cookingTime required placeholder="Cooking Time :write like this # min" style="width: 100%;">
              <input type="file" (change)="chooseFile($event)">
              <textarea id="itemComponents" name="itemNutritionalBenefits" required placeholder="Nutritional Benefits" #itemNutritionalBenefits ngModel></textarea>
              <textarea id="itemIngredients" name="itemIngredients" required placeholder="Ingredients" #itemIngredients ngModel></textarea>
              <textarea id="itemPreparation" name="itemPreparation" required placeholder="How to Prepare" #itemPreparation ngModel></textarea>
              <button type="submit" [disabled]="f.invalid || (itemName.value === ''  || itemNutritionalBenefits.value === '' || itemIngredients.value === '' || itemPreparation.value === '')">Post</button>
          </form>
      </div>
                 