/*--------------------------------------------------------------*/
/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

/* Colors */
:root {
  --color-default: #212529;
  --color-primary: #ce1212;
  --color-secondary: #37373f;
  --color-hover: #ec2727;
  --color-background: #f8f9fa;
}

/*--------------------------------------------------------------*/
/* General */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

/*--------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-default);
  background-color: var(--color-background);
  color: var(--color-default);
}

.contain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.contain .nav
{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.contain .nav .logo
{
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.contain .nav .logo h1
{
  margin: auto;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.contain .nav .logo h1 span
{
  color: #ce1212;
}
.contain .nav .choices
{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -150px;
}
.contain .nav .choices ul
{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.contain .nav .choices ul li
{
  font-size: 20px;
  font-weight: bold;
  margin: 0 30px;
}
.contain .nav .choices ul li a
{
  color: #7f7f90;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
.contain .nav .choices ul li a:hover
{
  color: black;
  box-shadow: 0 2px 0 #ce1212;
}
.contain .nav .fa-solid.fa-receipt
{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  margin-top: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: black;
  box-shadow: 0 2px 0 #ce1212;
}
.contain .nav .fa-solid.fa-receipt:hover
{
  color: #7f7f90;
  box-shadow: 0 2px 0 #7f7f90;
}
.contain .nav a button
{
  background-color: #ce1212;
  color: white;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 50px;
  margin-top: 15%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 20px 10px rgba(206, 18, 18, 0);
}
.contain .nav a button:hover
{
  background-color: #ec2727;
  box-shadow: 0 0 10px 5px rgba(201, 83, 83, 0.3);
}

.contain .screen {
  width: 100%;
  height: 100%;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 60px;
}

.contain .screen .section-header {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain .screen .section-header h2 {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 0;
  color: #000000;
}

.contain .screen .section-header p {
  font-family: 'Brush Script MT', cursive;
  font-size: 45px;
  margin-bottom: 0;
  color: black;
}

.contain .screen .section-header span {
  color: red;
}

.contain .screen .section {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain .screen .section p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  color: #8d8d9b;
}

.contain .screen .section h3 {
  font-size: 35px;
  font-family: serif;
  margin-bottom: 200px;
  color: var(--color-primary);
}

.contain .screen .items {
  height: auto;
  width: 100%;
  margin-top: 40px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contain .screen .items .frow {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contain .screen .items .frow ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contain .screen .items .frow ul li {
  font-size: 18px;
  font-weight: normal;
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: rgb(238, 191, 191);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.contain .screen .items .frow ul li:hover{
  transform: scale(1.3);
}